<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>
      Login
    </h1>
  </div>
  <div class="col-md-4"></div>
</div>
<hr>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div class="col-sm-12">
          <br>
          <div class="row">
            <div class="col-sm-12">
              <p>
                Correo
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input type="text">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <p>
                Password
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input type="text">
            </div>
          </div>
          <br>
          <button (click)="login()" class="btn btn-block btn-sm btn-outline-dark">Loguearse</button>
        </div>
  </div>
  <div class="col-sm-4"></div>
</div>
